<head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(function(){
    console.log("post like");
   
    $(".post-like").on("click", function(){
        var post_id = $(this).data("id");

        $.ajax({
            url: "/post/like/"+post_id,
            method: "GET"
        }).done(function(response){
            console.log(response);
        })
   })
 });
 </script>
 </head>
 <div class="delete">
  <% if current_account.posts.exists?(@post.id) %>
    <%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
<div class = "container post-details">
<script src="https://kit.fontawesome.com/769209a579.js" crossorigin="anonymous"></script>
  <div class = "row">
    <div class = "col-8">
         <div class = "home-pic">
          <%= image_tag(@post.image, class: "home-pic") if @post.image.attached? %>  
        </div>
    </div> 
    <div class = "col-4">
      <div class = "post-meta">
            <% if @post.account.profile_image.attached? %>
               <%= link_to image_tag(@post.account.profile_image, width: "50px" , height:"50px", :class => "profile-pic"),profile_path(@post.account.username) %>
            <% else %>
               <img class="profile-pic" width="50px" height="50px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
            <% end %>  
            <%= link_to @post.account.username, profile_path(@post.account.username), class: "text-dark" %>
      </div>
      
       
      <div class = "post-details">
             <% @post.description.to_s.split(' ').each do |word| %>
                  <% if word.start_with?('#') %>
                    <%= link_to word, search_path(query: word) %>
                  <%else %>
                    <%= word %>
                  <%end %>
                <% end %>
             <div class = "comments-feed">
              <%= render "posts/comments",  post: @post, comments: Comment.where(parent_id: nil).includes(:account).where(post_id: @post.id).order(id: :desc) %>
              <div class = "sub-comment">
               
              </div>
            </div>
            <div class = "post-actions">
               <i class = "fa fa-heart like-<%= @post.id %> <%= 'active' if post_liked_by_user?(@post.id) %>fa-2x post-like" data-id= "<%= @post.id %>"></i>
               <i class = "fa fa-comment fa-2x post-comment" id = "post-comment"></i>
            </div>
             <% if @post.total_likes_count.present? and @post.total_likes_count != 0 %>
               <p><strong id = "post-<%= @post.id %>-likes"><%= @post.total_likes_count %> likes</strong></p>
             <% end %>
             <p class = "text-muted" ><%= time_ago_in_words @post.created_at %> ago </p>
          </div>
           <div class = "comment-box">
            <%= render partial: "comments/form", locals:{ post: @post, parent: nil} %>
          </div>
         </div>
    </div>
  </div>
</div>