<!DOCTYPE html>

<%= javascript_pack_tag 'application', media:'all', 'data-turbolinks-track' => true %>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="fa fa-instagram" href="assets/favicon.ico" />
    <%= favicon_link_tag "Instagram-Logo.png"%>
    <title>Instagram</title>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-white static-top">
            <div class="container">
                <a class="navbar-brand" href="<%= account_signed_in? ? dashboard_path : root_path %>">
                    <i class = "fa fa-instagram"></i> Instagram
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <% if account_signed_in? %>
                           <%= render "layouts/account_nav" %>
                        <% else %>
                           <%= render "layouts/public_nav" %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="mt-5">
                  <%= yield %>
            </div>
        </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  
  </body>
</html>
