<head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(function(){
    
    $(".post-comment").on("click", function(){
      $("#comment_comment").focus();
      });
   
    $(".post-like").on("click", function(){
        var post_id = $(this).data("id");

        $.ajax({
            url: "/post/like/"+post_id,
            method: "GET"
        }).done(function(response){
            console.log(response);
        })
   })
 });
 </script>
 </head>
<div class = "container">
<script src="https://kit.fontawesome.com/769209a579.js" crossorigin="anonymous"></script>
  <div class = "row">
    <div class = "col-8">
       <% @posts.each do |post| %>
         <div class = "insta-post">
          <div class = "post-meta">
            <% if post.account.profile_image.attached? %>
               <%= link_to image_tag(post.account.profile_image, width: "50px" , height:"50px", :class => "profile-pic"),profile_path(post.account.username) %>
            <% else %>
                 <%= link_to profile_path(post.account.username) do %>
                  <img class="profile-pic float-left m-r-10" width="50px" height="50px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
                 <% end %>
            <% end %>   
            <%= link_to post.account.username, profile_path(post.account.username), class: "text-dark" %>
          </div>
          <%= image_tag(post.image, class: "home-pic")if post.image.attached? %>
          
          <div class = "post-details">
             <div class = "post-actions">
               <i class = "fa fa-heart like-<%= post.id %> <%= 'active' if post_liked_by_user?(post.id) %>fa-2x post-like" data-id= "<%= post.id %>"></i>
               <%= link_to post_path(post.id) do %>
                 <i class = "fa fa-comment fa-2x post-comment"></i>
               <% end %>
            </div>
             <% if post.total_likes_count.present? and post.total_likes_count != 0 %>
                <p><strong id = "post-<%= post.id %>-likes"><%= post.total_likes_count %> likes</strong></p>
              <% end %>
             <p><strong id = "post-<%= post.id %>-comments"><%= link_to post.account.username,profile_path(post.account.username), class: "text-dark" %></p> </strong>
             
             <% post.description.to_s.split(' ').each do |word| %>
                  <% if word.start_with?('#') %>
                    <%= link_to word, search_index_path(query: word) %>
                  <%else %>
                    <%= word %>
                  <%end %>
              <% end %>
             <p class = "text-muted" ><%= time_ago_in_words post.created_at %> ago </p>
             <%= render "posts/comments",  post: post, comments: Comment.where(parent_id: nil).includes(:account).where(post_id: post.id).order(id: :desc).limit(2) %>
             <div class = "sub-comment">
              <%= render "posts/comments",  post: post, comments: Comment.where(parent_id: :comment_id).includes(:account).where(post_id: post.id).order(id: :desc).limit(2) %>
             </div>
            <%= link_to post_path(post.id) do %>
                 <% if post.total_comments_count.present? and post.total_comments_count != 0 %>
                   <span class = "com"><p>View all <%= post.comments.count %> comments</p></span>
                  <% end %> 
              <% end %>
          </div>
           <div class = "comment-box">
            <%= form_for @comment do |f| %>
              <%= f.hidden_field :post_id, value: post.id %>
              <div class = "input-group-append">
               <%= f.text_field :comment, placeholder: "Add a comment...", class: "form-control post-comment" %>
              </div>
              <div class = "input-group-append"> 
              <%= f.submit "Post", class: "btn btn-success float-right" %>
              </div>
            <% end %>
            </div>
        </div>
    <% end %>
    </div> 
    <div class = "col-4">
       <div class = "account-summary">
        <p class ="m-0">
         <% if current_account.profile_image.attached? %>
            <%= link_to image_tag(current_account.profile_image, width: "50px", height:"50px", :class => "profile-pic float-left m-r-10"),profile_path(current_account.username) %>
         <% else %>
            <%= link_to profile_path(current_account.username) do %>
               <img class="profile-pic float-left m-r-10" width="50px" height="50px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
            <% end %>
         <% end %>  
         <strong><%= current_account.username %></strong><br />
         <%= current_account.full_name %>
        </p> 
       </div>
       <div class = "follower-suggestions">
       <p class = "text-muted"><strong>Suggestions for you</strong></p>
       <%= render "accounts/follower_suggestions" %>
       </div>
    </div>
  </div>
</div>