<div class = "container">
  <div class = "row">
    <div class = "col-4">
       <% if current_account.profile_image.attached? %>
        <%= image_tag(current_account.profile_image, width: "200px", :class => "profile-pic") %>
       <% else %>
        <img class="profile-pic" width="200px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
       <% end %>
    </div>
    <div class = "col-8 text-left">
      <h1><%= @account.full_name %></h1>
      <%= link_to "Edit Profile", edit_account_registration_path, class: "btn btn-secondary" %>
      <div class = "profile-stats"><%= @account.posts.count %> posts</div>
      <div class = "profile-stats"><%= @account.total_followers %> followers </div>
      <div class = "profile-stats"><%= @account.total_following %> following </div>

      <p><%= @account.full_name %></p>
      <%= simple_format @account.description %>
      <p><%= link_to @account.website if @account.website.present? %></p>
    </div>
 </div> 
 <div class = "row profile-posts">
    <% @posts.each do |post| %>
      <div  class = "col-4">
       <div class = "insta-post">
          <%= image_tag(post.image, class: "img img-fluid") %>
        </div>
       </div>
    <%end%>
 </div>
</div>      